<html>
  <head>
    <title>GA Vet Clinic</title>
    <link rel="stylesheet" type="text/css" href="/styles/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="/styles/main.css">
  </head>
  <body>
    <div class="container">
    <header>
      <h1>Welcome to the WDI Vet Clinic</h1>
      <img width="300px" src="/images/pets.jpg"/>
    </header>
    <main>
      <%= yield %>
    </main>
  </body>
</html>
