<section class="new-owner">
  <h1>Add a New Owner</h1>

  <form action="/owners" method="post">
    First name:<br>
    <input type="text" name="owner[first_name]">
    <br>

    Last name:<br>
    <input type="text" name="owner[last_name]">
    <br><br>

    <input type="submit" value="Submit">
  </form>
</section>
