<section class="pets">
  <h2>There are <%= @pets.length %> Pets</h2>
  <ul>
    <% @pets.each do |pet| %>
      <li><%= pet.to_s %></li>
      <form method="post" action="/pets/<%= pet.id %>">
        <input type="hidden" name="_method" value="delete">
        <button type="submit">Delete</button>
      </form>
    <% end %>
  </ul>
  <br>

  <a href="/pets/new"><button class="btn btn-success">Add a new Pet</button></a>
  <br><br>

  <a href="/"><button class="btn btn-primary">Home</button></a>
</section>
